
<script src="{site_url}assets/js/script.js"></script>

<!-- 
    This code has conflict with more drop down
    Place this btn script and jquery for it to work out
    
    <script id='foxiz-global-js-extra'>
    var foxizParams = {
        "twitterName": "joysafaribay",
        "highlightShares": "1",
        "highlightShareFacebook": "1",
        "highlightShareTwitter": "1",
        "highlightShareReddit": "1",
        "sliderSpeed": "5000",
        "sliderEffect": "slide",
        "sliderFMode": "1"
    };
</script>

<script defer
    src="{site_url}assets/js/share.js">
</script>

-->

<script src="{site_url}assets/js/query.js"></script>