
<div class="logo-wrap is-image-logo site-branding"> <a href="{site_url}" class="logo" title="Joy Safari Bay">
    <img class="logo-default" data-mode="default" height="60" width="92" src="{site_url}assets/images/logo/logo.svg" srcset="{site_url}assets/images/logo/logo.svg 1x,{site_url}assets/images/logo/logo.svg 2x" alt="Joy Safari Bay" decoding="async" loading="eager">
    <img class="logo-dark" data-mode="dark" height="60" width="92" src="{site_url}assets/images/logo/logo-white.svg" srcset="{site_url}assets/images/logo/logo-white.svg 1x,{site_url}assets/images/logo/logo-white.svg 2x" alt="Joy Safari Bay" decoding="async" loading="eager">
    <h1 class="logo-title hidden">Joy Safari Bay</h1>
    <p class="site-description hidden">Joy Safari Bay</p>
</a>
</div>