<section class="elementor-section elementor-top-section elementor-element elementor-element-970a442 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="970a442" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container pb-90 elementor-column-gap-custom">
        <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-7d1ef53 animated fadeIn"
            data-id="7d1ef53" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-f396043 elementor-widget elementor-widget-foxiz-heading animated fadeIn"
                    data-id="f396043" data-element_type="widget"
                    data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;}"
                    data-widget_type="foxiz-heading.default">
                    
                    <div class="elementor-widget-container">
                        <div id="uid_f396043" class="block-h heading-layout-4">
                            <div class="heading-inner">
                                <h3 class="heading-title"><a href="{path=posts}">More Stories</a></h3>
                                <div class="heading-tagline h6">
                                    <a class="heading-tagline-label" href="{path=posts}">View All</a>
                                    <i class="rbi rbi-cright heading-tagline-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-9262f1d elementor-widget elementor-widget-foxiz-list-box-1"
                    data-id="9262f1d" data-element_type="widget" data-widget_type="foxiz-list-box-1.default">
                    <div class="elementor-widget-container">
                        <div id="uid_9262f1d" class="block-wrap block-big block-list block-list-box-1 ecat-bg-2 is-feat-left">
                            
                            <div class="wrap-list block-inner">
                                {exp:channel:entries channel="posts" orderby="date" sort="desc" limit="4" paginate="bottom"}

                                <!-- display ads in every after 3 posts -->
                                {if count % 3 == 0}
                                <div class="article p-wrap p-list p-box p-list-1 p-list-box-1 box-bg" data-pid="1599">
                                    <div class="list-box">
                                        add here
                                    </div>
                                </div>
                                {/if}
                                <!-- ads end here -->

                                <div class="article p-wrap p-list p-box p-list-1 p-list-box-1 box-bg" data-pid="1599">
                                    <div class="list-box">
                                        <div class="list-holder">

                                            <div class="list-feat-holder">
                                                <div class="feat-holder overlay-text">
                                                        <div class="p-featured">
                                                            <a class="p-flink" href="" title="{title}">
                                                                <img width="420" height="280" src="{post_details}{post_details:display_image}{/post_details}" class="featured-img wp-post-image" alt="" decoding="async" loading="lazy">
                                                            </a>

                                                            {categories}
                                                            {if category_name =="Video"}
                                                            <aside class="p-format-overlay format-style-bottom">
                                                                <span class="p-format format-radio">
                                                                    <i class="rbi rbi-video" aria-hidden="true"></i>
                                                                </span>
                                                            </aside>
                                                            {/if}

                                                            {if category_name =="Audio"}
                                                            <aside class="p-format-overlay format-style-bottom">
                                                                <span class="p-format format-radio">
                                                                    <i class="rbi rbi-audio" aria-hidden="true"></i>
                                                                </span>
                                                            </aside>
                                                            {/if}

                                                            {if category_name =="Images"}
                                                            <aside class="p-format-overlay format-style-bottom">
                                                                <span class="p-format format-gallery">
                                                                <i class="rbi rbi-gallery" aria-hidden="true"></i>
                                                                <!-- <span class="gallery-count meta-text">5</span></span> -->
                                                            </aside>
                                                            {/if}
                                                            {/categories} 

                                                        </div>
                                                    
                                                        <div class="p-categories p-top">
                                                            {exp:query sql=" SELECT exp_categories.cat_name 
                                                                            FROM exp_categories 
                                                                            JOIN exp_category_posts ON exp_categories.cat_id = exp_category_posts.cat_id 
                                                                            WHERE exp_categories.group_id IN ('3') 
                                                                            AND exp_category_posts.entry_id = '{entry_id}' 
                                                                            ORDER BY exp_categories.cat_name ASC"
                                                                            style="nested"}
                                                            <span class="p-category category-id-23" rel="category">{cat_name}</span>
                                                            {/exp:query}
                                                        </div>
                                                </div>
                                            </div>

                                            <div class="p-content">
                                                <h3 class="entry-title"> <a class="p-url" href="{url_title_path=post}" rel="bookmark">{title}</a></h3>
                                                <p class="entry-summary">{post_details}{post_details:recap}{/post_details}
                                                </p>

                                                 {if "{sponsored_post}{sponsored_post:sponsor_name}{/sponsored_post}" =="" AND rate_the_post=="none"}
                                                <div class="p-meta has-bookmark">
                                                    <div class="meta-inner is-meta">
                                                        <a class="meta-el meta-avatar" href="{site_url}index.php/author/{username}">
                                                            <img src="{avatar_url}" width="44" height="44" alt="Connor" class="avatar avatar-44 wp-user-avatar wp-user-avatar-44 alignnone photo">
                                                        </a>
                                                        <span class="meta-el meta-author">
                                                            <a href="{site_url}index.php/author/{username}">{screen_name}</a>
                                                        </span>
                                                        <span class="meta-el meta-read"><i class="rbi rbi-watch" aria-hidden="true"></i>{post_details}{post_details:read_time}{/post_details} Mins Read</span>
                                                    </div>
                                                    <span class="rb-bookmark bookmark-trigger loaded" data-pid="1546">
                                                        <i class="rbi rbi-bookmark" aria-hidden="true" data-title="Save it"></i>
                                                        <i class="bookmarked-icon rbi rbi-bookmark-fill" aria-hidden="true" data-title="Undo Save"></i>
                                                    </span>
                                                </div>
                                                {/if}

                                                
                                                {if rate_the_post!="none" AND "{sponsored_post}{sponsored_post:sponsor_name}{/sponsored_post}"==""}
                                                <div class="review-meta is-meta is-rstyle-1 type-score has-bookmark">
                                                    <div class="review-meta-inner"><span class="rline-wrap"><span
                                                                class="rline activated"></span><span
                                                                class="rline activated"></span><span
                                                                class="rline activated"></span><span
                                                                class="rline activated"></span><span
                                                                class="rline activated"></span></span>
                                                        <div class="review-extra"><span
                                                                class="review-description"><strong
                                                                    class="meta-bold">{rate_the_post}.0</strong> out of 10</span><span
                                                                class="extra-meta meta-bold">{if rate_the_post>=9}Excellent value{/if}{if rate_the_post==8}Good value{/if}{if rate_the_post==7}Good value{/if}{if rate_the_post==6}Average value{/if}{if rate_the_post==5}Average value{/if}</span></div>
                                                    </div>
                                                    <span class="rb-bookmark bookmark-trigger loaded"
                                                        data-pid="1599"><i class="rbi rbi-bookmark" aria-hidden="true"
                                                            data-title="Save it"></i>
                                                        <i class="bookmarked-icon rbi rbi-bookmark-fill"
                                                            aria-hidden="true" data-title="Undo Save"></i>
                                                    </span>
                                                </div>
                                                {/if}


                                                {sponsored_post}
                                                {if "{sponsored_post:sponsor_name}" !=""}
                                                <div class="sponsor-meta meta-text">
                                                    <div class="sponsor-inner"> <span class="sponsor-icon"><i class="rbi rbi-notification" aria-hidden="true"></i></span> <span class="sponsor-label">Sponsored by</span>
                                                            <span class="sponlogo-wrap meta-bold">
                                                            <a class="sponsor-link" href="{sponsored_post:sponsor_link}" target="_blank" rel="noopener nofollow" aria-label="Sponsored by">
                                                                <img loading="lazy" decoding="async" class="sponsor-brand-default is-logo" data-mode="default" src="{sponsored_post:sponsor_logo_white}" width="212" height="52" alt="{sponsored_post:sponsor_name}">
                                                                <img loading="lazy" decoding="async" class="sponsor-brand-light is-logo" data-mode="dark" src="{sponsored_post:sponsor_logo_dark}" width="212" height="52" alt="{sponsored_post:sponsor_name}">
                                                            </a>
                                                        </span>
                                                    </div>

                                                    <span class="rb-bookmark bookmark-trigger loaded" data-pid="1557"><i
                                                            class="rbi rbi-bookmark" aria-hidden="true"
                                                            data-title="Save it"></i>
                                                        <i class="bookmarked-icon rbi rbi-bookmark-fill"
                                                            aria-hidden="true" data-title="Undo Save"></i></span>
                                                </div>
                                                {/if}
                                                {/sponsored_post}
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                {paginate}
                                <div class="pagination pagination-wrap pagination-infinite">
                                    {pagination_links}
                                        {next_page}
                                        <a href="{pagination_url}" class="older"></a>
                                        {/next_page}
                                    {/pagination_links}
                                </div>
                            {/paginate}
                            {/exp:channel:entries}
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6c530d1 rb-sticky is-sidebar"
            data-id="6c530d1" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-9476da7 elementor-widget elementor-widget-foxiz-social-follower" data-id="9476da7" data-element_type="widget" data-widget_type="foxiz-social-follower.default"></div>


                <div class="sidebar-wrap single-sidebar">
                    <div class="sidebar-inner clearfix">
                        <div data-elementor-type="wp-post" data-elementor-id="2850" class="elementor elementor-2850">
                            <section
                                class="elementor-section elementor-top-section elementor-element elementor-element-fb8d1c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="fb8d1c6" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-no">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8daeaa1"
                                        data-id="8daeaa1" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                            
                                            {exp:channel:entries channel="posts" limit="1" orderby="view_count_one" sort="desc" dynamic="no"}
                                            <div class="elementor-element elementor-element-0945666 elementor-widget elementor-widget-foxiz-grid-flex-2"
                                                data-id="0945666" data-element_type="widget"
                                                data-settings="{&quot;_animation_mobile&quot;:&quot;none&quot;}"
                                                data-widget_type="foxiz-grid-flex-2.default">
                                                <div class="elementor-widget-container">
                                                    <div id="uid_0945666"
                                                        class="block-wrap block-grid block-grid-flex-2 first-featured rb-columns rb-col-1 rb-tcol-1 rb-mcol-1 is-gap-none is-pagi-text ecat-text">
                                                        <div class="block-inner">
                                                            <div class="p-wrap p-box p-grid-box-2 box-bg"
                                                                data-pid="33">
                                                                <div class="grid-box">
                                                                    <div class="feat-holder">
                                                                        <div class="p-featured">
                                                                            <a class="p-flink"
                                                                                href="{url_title_path=post}"
                                                                                title="What Africa Can Learn from the Asian Tigers">
                                                                                <img width="420" height="280"
                                                                                    src="{post_details}{post_details:display_image}{/post_details}"
                                                                                    class="featured-img wp-post-image"
                                                                                    alt="" decoding="async"
                                                                                    loading="lazy"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-categories p-top"><a
                                                                            class="p-category category-id-3"
                                                                            href="https://foxiz.themeruby.com/animals/category/animals/"
                                                                            rel="category">Top trend</a></div>
                                                                    <h3 class="entry-title"><a class="p-url" href="{url_title_path=post}" rel="bookmark">{title}</a></h3>
                                                                    <div class="p-divider is-divider-bold"></div>

                                                                    <div class="p-meta">
                                                                        <div class="meta-inner is-meta">
                                                                            <span class="meta-el meta-update">
                                                                                <i class="rbi rbi-time" aria-hidden="true"></i>
                                                                                    <time class="updated" datetime="2023-02-03T12:16:25+00:00">{entry_date format="%M %d, %Y"}</time>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {/exp:channel:entries}

                                            <div class="elementor-element elementor-element-2631268 elementor-widget elementor-widget-foxiz-list-small-2"
                                                data-id="2631268" data-element_type="widget"
                                                data-widget_type="foxiz-list-small-2.default">
                                                <div class="elementor-widget-container">
                                                    <div id="uid_2631268"
                                                        class="block-wrap block-small block-list block-list-small-2 rb-columns rb-col-1 rb-tcol-1 rb-mcol-1 is-gap-custom col-border is-border-gray bottom-border is-b-border-gray no-last-bb is-feat-left">
                                                        <div class="block-inner">
                                                           
                                                            {exp:channel:entries channel="posts" limit="5" dynamic="no" track_views="one" start_on="-30 days"}
                                                            <div class="p-wrap p-small p-list-small-2"
                                                                data-pid="13">
                                                                <div class="feat-holder">
                                                                    <div class="p-featured ratio-v1">
                                                                        <a class="p-flink"
                                                                            href="{url_title_path=post}"
                                                                            title="Wildebeest Migration Facts to Know Before Booking a Safari">
                                                                            <img width="330" height="220"
                                                                                src="{post_details}{post_details:display_image}{/post_details}"
                                                                                class="featured-img wp-post-image"
                                                                                alt="" decoding="async"
                                                                                loading="lazy"> </a>
                                                                    </div>
                                                                </div>
                                                                <div class="p-content">
                                                                    <h4 class="entry-title counter-el"> <a
                                                                            class="p-url"
                                                                            href="{url_title_path=post}"
                                                                            rel="bookmark">{title}</a></h4>
                                                                    <div class="p-meta">
                                                                        <div class="meta-inner is-meta">
                                                                            <span class="meta-el meta-update">
                                                                                <i class="rbi rbi-time"
                                                                                    aria-hidden="true"></i> <time
                                                                                    class="updated"
                                                                                    datetime="2023-02-04T02:25:51+00:00">{entry_date format="%F %d, %Y"}</time>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {/exp:channel:entries}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>