
<section class="elementor-section elementor-top-section elementor-element elementor-element-970a442 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="970a442" data-element_type="section" data-settings="{&quot;animation&quot;:&quot;none&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="single-standard-5 is-sidebar-right sticky-sidebar optimal-line-length elementor-container pb-90 elementor-column-gap-custom">
        <div id="post-16" class="post-16 post type-post status-publish format-standard has-post-thumbnail category-wildlife-watch tag-hot">

            <div class="rb-container edge-padding">
                <div class="grid-container">
                    <div class="s-ct">
                        <div class="s-ct-wrap">
                            <div class="s-ct-inner">
                                <div class="e-ct-outer">
                                    <div class="entry-content rbct clearfix is-highlight-shares" itemprop="articleBody">
                                        <p class="has-drop-cap">The feline has also brought attention to the need for <a
                                                href="#">wildlife corridors to connect animal</a> populations through
                                            highly urbanized southern California. Such sprawl isolates pockets of
                                            mountain lions, which can lead to inbreeding.</p>

                                        <div class="ruby-table-contents rbtoc table-fw">
                                            <div class="toc-header"><i class="rbi rbi-read"></i><span
                                                    class="h3">Contents</span><a class="ruby-toc-toggle" href="#"><i
                                                        class="rbi rbi-angle-down"></i></a></div>
                                            <div class="inner"><a href="#a-safer-world-for-animals-and-people"
                                                    class="table-link anchor-link h5" data-index="rb-heading-index-0">A
                                                    safer world for animals and people</a><a
                                                    href="#bear-baiting-banned-in-alaskan-preserves"
                                                    class="table-link anchor-link h5"
                                                    data-index="rb-heading-index-1">Bear baiting banned in Alaskan
                                                    preserves</a><a
                                                    href="#what-is-the-difference-between-a-lion-and-a-tiger"
                                                    class="table-link anchor-link h5"
                                                    data-index="rb-heading-index-2">What is the difference between a
                                                    lion and a tiger?</a><a
                                                    href="#youll-help-protect-vulnerable-communities"
                                                    class="table-link anchor-link h5"
                                                    data-index="rb-heading-index-3">You’ll help protect vulnerable
                                                    communities</a><a href="#facts-about-red-panda"
                                                    class="table-link anchor-link h5"
                                                    data-index="rb-heading-index-4">Facts about red panda</a><a
                                                    href="#breaking-down-the-barriers" class="table-link anchor-link h5"
                                                    data-index="rb-heading-index-5">Breaking down the barriers</a></div>
                                        </div>
                                        <p>Optimization for various types of devices and resolutions plays a fundamental
                                            role in modern website design. Web page layouts should be <a href="#"
                                                target="_blank" rel="noreferrer noopener">genuinely responsive</a> and
                                            not rely on any fixed-size elements. Web designers using <a href="#"
                                                target="_blank" rel="noreferrer noopener">fluid grids</a> and flexible
                                            images will guarantee that a web page will render well on a variety of
                                            devices, windows, and screen sizes.</p>
                                        <figure class="wp-block-pullquote">
                                            <blockquote>
                                                <p>As far as the laws of mathematics refer to reality, they are not
                                                    certain; and as far as they are certain, they do not refer to
                                                    reality.</p><cite>Albert Einstein</cite>
                                            </blockquote>
                                        </figure>
                                        <p>Most users search for something interesting<em> </em>(or useful) and
                                            clickable; as soon as some promising candidates are found, users
                                            click.<strong> If the new page doesn’t meet users’ expectations,</strong>
                                            the back button is clicked and the search process is continued.</p>
                                        <h2 id="a-safer-world-for-animals-and-people"
                                            class="rb-heading-index-0 wp-block-heading">A safer world for animals and
                                            people</h2>
                                        <p>Not all websites are made equal. Some websites are simple, logical, and easy
                                            to use. Others are a messy hodgepodge of pages and links.</p>
                                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy"
                                                width="1000" height="657"
                                                src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as1.jpg"
                                                alt="" class="wp-image-3006"
                                                srcset="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as1.jpg 1000w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as1-300x197.jpg 300w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as1-768x505.jpg 768w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as1-860x565.jpg 860w"
                                                sizes="(max-width: 1000px) 100vw, 1000px">
                                            <figcaption class="wp-element-caption">How are innovations in robotics
                                                changing the way we perceive the world?</figcaption>
                                        </figure>
                                        <p>Without website navigation, your visitors can’t figure out how to find your
                                            blog, your email signup page, your product listings, pricing, contact
                                            information, or help docs.</p>
                                        <div class="related-sec related-3">
                                            <div class="inner block-small block-hrc hrc-1">
                                                <div class="block-h heading-layout-10">
                                                    <div class="heading-inner">
                                                        <h4 class="heading-title"><span>More Read</span></h4>
                                                    </div>
                                                </div>
                                                <div class="block-inner">
                                                    <div class="p-wrap p-grid p-grid-1" data-pid="35">
                                                        <div class="feat-holder overlay-text">
                                                            <div class="p-featured">
                                                                <a class="p-flink"
                                                                    href="https://foxiz.themeruby.com/animals/hungry-bear-comes-out-of-hibernation-looking-for-food/"
                                                                    title="Hungry Bear Comes Out of Hibernation Looking For Food">
                                                                    <img width="330" height="220"
                                                                        src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a7-330x220.jpg"
                                                                        class="featured-img wp-post-image" alt=""
                                                                        decoding="async" loading="lazy"> </a>
                                                            </div>
                                                        </div>
                                                        <h4 class="entry-title"> <a class="p-url"
                                                                href="https://foxiz.themeruby.com/animals/hungry-bear-comes-out-of-hibernation-looking-for-food/"
                                                                rel="bookmark">Hungry Bear Comes Out of Hibernation
                                                                Looking For Food</a></h4>
                                                    </div>
                                                    <div class="p-wrap p-list-inline" data-pid="71">
                                                        <h6 class="entry-title"><i class="rbi rbi-plus"></i> <a
                                                                class="p-url"
                                                                href="https://foxiz.themeruby.com/animals/learn-how-to-take-proper-care-of-lovebirds-before-you-own/"
                                                                rel="bookmark">Learn How to Take Proper Care of
                                                                Lovebirds Before You Own</a></h6>
                                                    </div>
                                                    <div class="p-wrap p-list-inline" data-pid="67">
                                                        <h6 class="entry-title"><i class="rbi rbi-plus"></i> <a
                                                                class="p-url"
                                                                href="https://foxiz.themeruby.com/animals/how-fast-can-a-leopard-run-average-speed/"
                                                                rel="bookmark">How Fast Can a Leopard Run (Average
                                                                Speed)</a></h6>
                                                    </div>
                                                    <div class="p-wrap p-list-inline" data-pid="45">
                                                        <h6 class="entry-title"><i class="rbi rbi-plus"></i> <a
                                                                class="p-url"
                                                                href="https://foxiz.themeruby.com/animals/all-23-types-of-foxes-and-where-to-see-them-in-the-wild/"
                                                                rel="bookmark">All 23 Types of Foxes and Where to See
                                                                Them in the Wild</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p><strong>Quick and easy access to the content they’re after is more important
                                                for your website users than a… visually-stunning design.</strong></p>
                                        <p>Website navigation allows visitors to flow from one page to another without
                                            frustration. If you’ve done your job well, visitors leave your site with the
                                            <a href="#" target="_blank" rel="noreferrer noopener">intention to
                                                return</a> and might even buy something from you or sign up for your
                                            email list.</p>
                                        <p><em>Bad navigation is an especially common problem. We’ve all struggled to
                                                find things on disorganized websites without any logical structure. It
                                                feels hopeless.</em></p>
                                        <p>Using <strong>“complex large pictures”</strong>. Because a carousel generally
                                            carries a lot of picture messages, complex large pictures result in low
                                            performance and <strong>“slow loading rate”</strong> of the sites,
                                            especially those whose first homepages are occupied by high-resolution
                                            carousels.</p>
                                        <h2 id="bear-baiting-banned-in-alaskan-preserves"
                                            class="rb-heading-index-1 wp-block-heading"><strong>Bear baiting banned in
                                                Alaskan preserves</strong></h2>
                                        <p>In design, rhythm is created by simply repeating elements in predictable
                                            patterns. This repetition is a natural thing that occurs everywhere in our
                                            world. As people, we are driven everyday by predictable, timed events.</p>
                                        <figure class="wp-block-image size-full"><img decoding="async" loading="lazy"
                                                width="1000" height="667"
                                                src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2.jpg"
                                                alt="" class="wp-image-3007"
                                                srcset="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2.jpg 1000w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-300x200.jpg 300w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-768x512.jpg 768w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-330x220.jpg 330w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-420x280.jpg 420w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-615x410.jpg 615w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/as2-860x574.jpg 860w"
                                                sizes="(max-width: 1000px) 100vw, 1000px">
                                            <figcaption class="wp-element-caption">Success is no accident. It is hard
                                                work, perseverance, learning, studying, sacrifice and most of all, love
                                                of what you are doing.</figcaption>
                                        </figure>
                                        <p>One of the best ways to use <a href="#" target="_blank"
                                                rel="noreferrer noopener">repetition and rhythm in web design</a> is in
                                            the site’s navigation menu. A consistent, easy-to-follow pattern—in color,
                                            layout, etc. Gives users an intuitive roadmap to everything you want to
                                            share on your site.</p>
                                        <p>Rhythm also factors into the <strong>layout of content</strong>. For example,
                                            you <strong>“might have”</strong> blog articles, press releases, and events
                                            each follow their own certain layout pattern.</p>
                                        <h2 id="what-is-the-difference-between-a-lion-and-a-tiger"
                                            class="rb-heading-index-2 wp-block-heading">What is the difference between a
                                            lion and a tiger?</h2>
                                        <p>Nobody enjoys looking at an ugly web page. cluttered images and distracting
                                            animation can all turn customers <strong>“off”</strong> and send them
                                            shopping<strong> “somewhere else”</strong>. Basic composition rules to
                                            create more effective:</p>
                                        <ul class="rb-list">
                                            <li>Direct the Eye With<strong> </strong><a rel="noreferrer noopener"
                                                    href="#" target="_blank">Leading Lines</a></li>
                                            <li>Balance Out Your Elements</li>
                                            <li>Use Elements That<strong> Complement Each Other</strong></li>
                                            <li>Be clear about your <strong>“focal points”</strong> and where you place
                                                them</li>
                                        </ul>
                                        <p>The size and position of elements in a composition will determine its
                                            balance. An unbalanced design generates tension, which may be the goal in
                                            many design projects, but for web apps that demand repeated comfortable use,
                                            tension is not a desirable trait.</p>
                                        <h2 id="youll-help-protect-vulnerable-communities"
                                            class="rb-heading-index-3 wp-block-heading">You’ll help protect vulnerable
                                            communities</h2>
                                        <p><strong>UX and UI: </strong>Two terms that are often used interchangeably,
                                            but actually mean very different things. <em>So what exactly is the
                                                difference?</em></p>
                                        
                                        <p>UX design refers to the term <em>“user experience design”</em>, while UI
                                            stands for <em>“user interface design</em><strong>”</strong>. Both elements
                                            are crucial to a product and work closely together. But despite their
                                            relationship, <a rel="noreferrer noopener" href="#" target="_blank">the
                                                roles themselves</a> are quite different.</p>
                                        <h2 id="facts-about-red-panda" class="rb-heading-index-4 wp-block-heading">
                                            <strong><em>Facts about red panda</em></strong></h2>
                                        <p>Good design guides the user by communicating purpose and priority. For that
                                            reason, every part of the design should be based on an
                                            <strong>“<strong>informed decision</strong></strong>” rather than an
                                            arbitrary result of personal taste or the current trend.</p>
                                        <figure class="wp-block-image size-large"><img decoding="async" loading="lazy"
                                                width="1024" height="717"
                                                src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8-1024x717.jpg"
                                                alt="" class="wp-image-2942"
                                                srcset="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8-1024x717.jpg 1024w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8-300x210.jpg 300w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8-768x538.jpg 768w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8-860x602.jpg 860w, https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a8.jpg 1200w"
                                                sizes="(max-width: 1024px) 100vw, 1024px">
                                            <figcaption class="wp-element-caption">Study nature. Love nature. Stay close
                                                to nature. It will never fail you.</figcaption>
                                        </figure>
                                        <p>Provide distinct styles for interactive elements, such as <em>links and
                                                buttons</em>, to make them easy to identify. For example,
                                            <strong>“change the appearance of links”</strong> on mouse hover, “keyboard
                                            focus”, and “touch-screen activation”.</p>
                                        <h2 id="breaking-down-the-barriers" class="rb-heading-index-5 wp-block-heading">
                                            Breaking down the barriers</h2>
                                        <p><strong>Design is not the end-all solution to all of the worlds
                                                problems</strong> — but with the right thinking and application, it can
                                            definitely be a good beginning to start tackling them.</p>
                                    </div>
                                    <div class="efoot">
                                        <div class="efoot-bar tag-bar">
                                            <span class="blabel is-meta"><i class="rbi rbi-tag"
                                                    aria-hidden="true"></i>TAGGED:</span>
                                            <span class="tags-list h5"><a
                                                    href="https://foxiz.themeruby.com/animals/tag/hot/"
                                                    rel="tag">Hot</a></span>
                                        </div>
                                        <div class="efoot-bar source-bar">
                                            <span class="blabel is-meta"><i class="rbi rbi-archive"
                                                    aria-hidden="true"></i>SOURCES:</span>
                                            <span class="sources-list h5"><a href="#" rel="nofollow"
                                                    target="_blank">rubynews.com</a>, <a href="#" rel="nofollow"
                                                    target="_blank">schoolnews.com</a></span>
                                        </div>
                                        <div class="efoot-bar via-bar">
                                            <span class="blabel is-meta"><i class="rbi rbi-via"
                                                    aria-hidden="true"></i>VIA:</span>
                                            <span class="sources-list h5"><a href="#" rel="nofollow"
                                                    target="_blank">ThemeRuby</a></span>
                                        </div>
                                    </div>

                                    {_subscribe}

                                    <div class="article-meta is-hidden">
                                        <meta itemprop="mainEntityOfPage"
                                            content="https://foxiz.themeruby.com/animals/why-is-an-eagle-called-the-king-of-the-bird-kingdom/">
                                        <span class="vcard author">
                                            <span class="fn" itemprop="author" itemscope="" content="Red Fox"
                                                itemtype="https://schema.org/Person">
                                                <meta itemprop="url" content="https://foxiz.themeruby.com/animals/">
                                                <span itemprop="name">Red Fox</span>
                                            </span>
                                        </span>
                                        <time class="updated" datetime="2023-02-04T02:24:03+00:00"
                                            content="2023-02-04T02:24:03+00:00" itemprop="dateModified">February 4,
                                            2023</time>
                                        <time class="published" datetime="2022-11-03T00:59:19+00:00"
                                            content="2022-11-03T00:59:19+00:00" itemprop="datePublished">November 3,
                                            2022</time>
                                        <span itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                                            <meta itemprop="url"
                                                content="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a6.jpg">
                                            <meta itemprop="width" content="1200">
                                            <meta itemprop="height" content="800">
                                        </span>
                                        <meta itemprop="description"
                                            content="Our task must be to free ourselves by widening our circle of compassion to embrace all living creatures and the whole of nature and its beauty.">
                                        <span itemprop="publisher" itemscope=""
                                            itemtype="https://schema.org/Organization">
                                            <meta itemprop="name" content="Wild Animals">
                                            <meta itemprop="url" content="https://foxiz.themeruby.com/animals/">
                                            <span itemprop="logo" itemscope=""
                                                itemtype="https://schema.org/ImageObject">
                                                <meta itemprop="url"
                                                    content="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2022/12/a-logo.png">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="e-shared-sec entry-sec">
                                <div class="e-shared-header h4">
                                    <i class="rbi rbi-share" aria-hidden="true"></i><span>Share this Article</span>
                                </div>
                                <div class="rbbsl tooltips-n effect-fadeout is-bg">
                                    <a class="share-action share-trigger icon-facebook"
                                        href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ffoxiz.themeruby.com%2Fanimals%2Fwhy-is-an-eagle-called-the-king-of-the-bird-kingdom%2F"
                                        data-title="Facebook" rel="nofollow"><i class="rbi rbi-facebook"
                                            aria-hidden="true"></i><span>Facebook</span></a>
                                    <a class="share-action share-trigger icon-twitter"
                                        href="https://twitter.com/intent/tweet?text=Why+is+an+Eagle+Called+the+King+of+the+Bird+Kingdom%3F&amp;url=https%3A%2F%2Ffoxiz.themeruby.com%2Fanimals%2Fwhy-is-an-eagle-called-the-king-of-the-bird-kingdom%2F&amp;via="
                                        data-title="Twitter" rel="nofollow">
                                        <i class="rbi rbi-twitter" aria-hidden="true"></i><span>Twitter</span></a> <a
                                        class="share-action icon-email"
                                        href="mailto:?subject=Why%20is%20an%20Eagle%20Called%20the%20King%20of%20the%20Bird%20Kingdom?%20BODY=I%20found%20this%20article%20interesting%20and%20thought%20of%20sharing%20it%20with%20you.%20Check%20it%20out:%20https://foxiz.themeruby.com/animals/why-is-an-eagle-called-the-king-of-the-bird-kingdom/"
                                        data-title="Email" rel="nofollow">
                                        <i class="rbi rbi-email" aria-hidden="true"></i><span>Email</span></a>
                                    <a class="share-action live-tooltip icon-copy copy-trigger" href="#"
                                        data-copied="Copied!"
                                        data-link="https://foxiz.themeruby.com/animals/why-is-an-eagle-called-the-king-of-the-bird-kingdom/"
                                        rel="nofollow" data-copy="Copy Link"><i class="rbi rbi-link-o"
                                            aria-hidden="true"></i><span>Copy Link</span></a>
                                    <a class="share-action icon-print" rel="nofollow"
                                        href="javascript:if(window.print)window.print()" data-title="Print"><i
                                            class="rbi rbi-print" aria-hidden="true"></i><span>Print</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="usr-holder entry-sec">
                            <div class="ubox">
                                <div class="ubox-header">
                                    <div class="author-info-wrap">
                                        <a class="author-avatar"
                                            href="https://foxiz.themeruby.com/animals/author/redfox/"><img
                                                alt="Avatar photo"
                                                src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/avatar-120x120.jpg"
                                                srcset="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/avatar-240x240.jpg 2x"
                                                class="avatar avatar-120 photo" height="120" width="120" loading="lazy"
                                                decoding="async"></a>
                                        <div class="is-meta">
                                            <span class="nname-info meta-author">
                                                <span class="meta-label">By</span>
                                                <a class="nice-name"
                                                    href="https://foxiz.themeruby.com/animals/author/redfox/">Red
                                                    Fox</a>
                                            </span> <span class="author-job">Senior Editor</span>
                                        </div>
                                    </div>
                                    <div class="usocials tooltips-n meta-text">
                                        <span class="ef-label">Follow: </span><a class="social-link-website"
                                            aria-label="Website" data-title="Website"
                                            href="https://foxiz.themeruby.com/animals/" target="_blank"
                                            rel="noopener nofollow"><i class="rbi rbi-portfolio-o"
                                                aria-hidden="true"></i></a><a class="social-link-facebook"
                                            aria-label="Facebook" data-title="Facebook" href="#" target="_blank"
                                            rel="noopener nofollow"><i class="rbi rbi-facebook"
                                                aria-hidden="true"></i></a><a class="social-link-twitter"
                                            aria-label="Twitter" data-title="Twitter" href="#" target="_blank"
                                            rel="noopener nofollow"><i class="rbi rbi-twitter"
                                                aria-hidden="true"></i></a><a class="social-link-instagram"
                                            aria-label="Instagram" data-title="Instagram" href="#" target="_blank"
                                            rel="noopener nofollow"><i class="rbi rbi-instagram"
                                                aria-hidden="true"></i></a><a class="social-link-rss" aria-label="Rss"
                                            data-title="Rss" href="#" target="_blank" rel="noopener nofollow"><i
                                                class="rbi rbi-rss" aria-hidden="true"></i></a> </div>
                                </div>
                                <div class="ubio description-text">A senior editor for The Mars that left the company to
                                    join the team of Foxiz as a news editor and content creator. An artist by nature who
                                    enjoys video games, guitars, action figures, cooking, painting, drawing and good
                                    music.</div>
                            </div>
                        </div>
                        <div class="comment-box-wrap entry-sec">
                            <div class="comment-box-header">
                                <span class="comment-box-title h3"><i class="rbi rbi-comment"
                                        aria-hidden="true"></i><span class="is-invisible">Leave a comment</span></span>
                                <a href="#" class="show-post-comment"><i class="rbi rbi-comment"
                                        aria-hidden="true"></i>Leave a comment </a>
                            </div>
                            <div class="comment-holder no-comment is-hidden">
                                <div id="comments" class="comments-area">
                                    <div id="respond" class="comment-respond">
                                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a
                                                    rel="nofollow" id="cancel-comment-reply-link"
                                                    href="/animals/why-is-an-eagle-called-the-king-of-the-bird-kingdom/#respond"
                                                    style="display:none;">Cancel reply</a></small></h3>
                                        <form action="https://foxiz.themeruby.com/animals/wp-comments-post.php"
                                            method="post" id="commentform" class="comment-form" novalidate="">
                                            <p class="comment-notes"><span id="email-notes">Your email address will not
                                                    be published.</span> <span class="required-field-message">Required
                                                    fields are marked <span class="required">*</span></span></p>
                                            <p class="comment-form-comment"><label for="comment">Comment <span
                                                        class="required">*</span></label> <textarea
                                                    placeholder="Leave a comment" id="comment" name="comment" cols="45"
                                                    rows="8" maxlength="65525" required=""></textarea></p>
                                            <p class="comment-form-author"><label for="author">Name <span
                                                        class="required">*</span></label> <input placeholder="Your name"
                                                    id="author" name="author" type="text" value="" size="30"
                                                    maxlength="245" autocomplete="name" required=""></p>
                                            <p class="comment-form-email"><label for="email">Email <span
                                                        class="required">*</span></label> <input
                                                    placeholder="Your email" id="email" name="email" type="email"
                                                    value="" size="30" maxlength="100" aria-describedby="email-notes"
                                                    autocomplete="email" required=""></p>
                                            <p class="comment-form-url"><label for="url">Website</label> <input
                                                    placeholder="Your Website" id="url" name="url" type="url" value=""
                                                    size="30" maxlength="200" autocomplete="url"></p>
                                            <p class="comment-form-cookies-consent"><input
                                                    id="wp-comment-cookies-consent" name="wp-comment-cookies-consent"
                                                    type="checkbox" value="yes"> <label
                                                    for="wp-comment-cookies-consent">Save my name, email, and website in
                                                    this browser for the next time I comment.</label></p>
                                            <p class="form-submit"><input name="submit" type="submit" id="submit"
                                                    class="submit" value="Post Comment"> <input type="hidden"
                                                    name="comment_post_ID" value="16" id="comment_post_ID">
                                                <input type="hidden" name="comment_parent" id="comment_parent"
                                                    value="0">
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-wrap single-sidebar has-border">
                        <div class="sidebar-inner clearfix">
                            <div data-elementor-type="wp-post" data-elementor-id="2850" class="elementor elementor-2850">
                                <section
                                    class="elementor-section elementor-top-section elementor-element elementor-element-fb8d1c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                    data-id="fb8d1c6" data-element_type="section">
                                    <div class="elementor-container elementor-column-gap-no">
                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8daeaa1"
                                            data-id="8daeaa1" data-element_type="column">
                                            <div class="elementor-widget-wrap elementor-element-populated">
                                                <div class="elementor-element elementor-element-0945666 elementor-widget elementor-widget-foxiz-grid-flex-2"
                                                    data-id="0945666" data-element_type="widget"
                                                    data-settings="{&quot;_animation_mobile&quot;:&quot;none&quot;}"
                                                    data-widget_type="foxiz-grid-flex-2.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="uid_0945666"
                                                            class="block-wrap block-grid block-grid-flex-2 first-featured rb-columns rb-col-1 rb-tcol-1 rb-mcol-1 is-gap-none is-pagi-text ecat-text">
                                                            <div class="block-inner">
                                                                <div class="p-wrap p-box p-grid-box-2 box-bg"
                                                                    data-pid="33">
                                                                    <div class="grid-box">
                                                                        <div class="feat-holder">
                                                                            <div class="p-featured">
                                                                                <a class="p-flink"
                                                                                    href="https://foxiz.themeruby.com/animals/what-africa-can-learn-from-the-asian-tigers/"
                                                                                    title="What Africa Can Learn from the Asian Tigers">
                                                                                    <img width="420" height="280"
                                                                                        src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a44-420x280.jpg"
                                                                                        class="featured-img wp-post-image"
                                                                                        alt="" decoding="async"
                                                                                        loading="lazy"> </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="p-categories p-top"><a
                                                                                class="p-category category-id-3"
                                                                                href="https://foxiz.themeruby.com/animals/category/animals/"
                                                                                rel="category">Animals</a></div>
                                                                        <h3 class="entry-title counter-el"> <a
                                                                                class="p-url"
                                                                                href="https://foxiz.themeruby.com/animals/what-africa-can-learn-from-the-asian-tigers/"
                                                                                rel="bookmark">What Africa Can Learn
                                                                                from the Asian Tigers</a></h3>
                                                                        <div class="p-divider is-divider-bold"></div>
                                                                        <div class="p-meta">
                                                                            <div class="meta-inner is-meta">
                                                                                <span class="meta-el meta-update">
                                                                                    <i class="rbi rbi-time"
                                                                                        aria-hidden="true"></i> <time
                                                                                        class="updated"
                                                                                        datetime="2023-02-03T12:16:25+00:00">February
                                                                                        3, 2023</time>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-2631268 elementor-widget elementor-widget-foxiz-list-small-2"
                                                    data-id="2631268" data-element_type="widget"
                                                    data-widget_type="foxiz-list-small-2.default">
                                                    <div class="elementor-widget-container">
                                                        <div id="uid_2631268"
                                                            class="block-wrap block-small block-list block-list-small-2 rb-columns rb-col-1 rb-tcol-1 rb-mcol-1 is-gap-custom col-border is-border-gray bottom-border is-b-border-gray no-last-bb is-feat-left">
                                                            <div class="block-inner">
                                                                <div class="p-wrap p-small p-list-small-2"
                                                                    data-pid="13">
                                                                    <div class="feat-holder">
                                                                        <div class="p-featured ratio-v1">
                                                                            <a class="p-flink"
                                                                                href="https://foxiz.themeruby.com/animals/wildebeest-migration-facts-to-know-before-booking-a-safari/"
                                                                                title="Wildebeest Migration Facts to Know Before Booking a Safari">
                                                                                <img width="330" height="220"
                                                                                    src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a58-330x220.jpg"
                                                                                    class="featured-img wp-post-image"
                                                                                    alt="" decoding="async"
                                                                                    loading="lazy"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-content">
                                                                        <h4 class="entry-title counter-el"> <a
                                                                                class="p-url"
                                                                                href="https://foxiz.themeruby.com/animals/wildebeest-migration-facts-to-know-before-booking-a-safari/"
                                                                                rel="bookmark">Wildebeest Migration
                                                                                Facts to Know Before Booking a
                                                                                Safari</a></h4>
                                                                        <div class="p-meta">
                                                                            <div class="meta-inner is-meta">
                                                                                <span class="meta-el meta-update">
                                                                                    <i class="rbi rbi-time"
                                                                                        aria-hidden="true"></i> <time
                                                                                        class="updated"
                                                                                        datetime="2023-02-04T02:25:51+00:00">February
                                                                                        4, 2023</time>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="p-wrap p-small p-list-small-2"
                                                                    data-pid="19">
                                                                    <div class="feat-holder">
                                                                        <div class="p-featured ratio-v1">
                                                                            <a class="p-flink"
                                                                                href="https://foxiz.themeruby.com/animals/elephant-seasonal-vegetation-preferences-across-dry-and-wet/"
                                                                                title="Elephant Seasonal Vegetation Preferences Across Dry and Wet">
                                                                                <img width="330" height="220"
                                                                                    src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a54-330x220.jpg"
                                                                                    class="featured-img wp-post-image"
                                                                                    alt="" decoding="async"
                                                                                    loading="lazy"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-content">
                                                                        <h4 class="entry-title counter-el"> <a
                                                                                class="p-url"
                                                                                href="https://foxiz.themeruby.com/animals/elephant-seasonal-vegetation-preferences-across-dry-and-wet/"
                                                                                rel="bookmark">Elephant Seasonal
                                                                                Vegetation Preferences Across Dry and
                                                                                Wet</a></h4>
                                                                        <div class="p-meta">
                                                                            <div class="meta-inner is-meta">
                                                                                <span class="meta-el meta-update">
                                                                                    <i class="rbi rbi-time"
                                                                                        aria-hidden="true"></i> <time
                                                                                        class="updated"
                                                                                        datetime="2023-02-04T02:19:37+00:00">February
                                                                                        4, 2023</time>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="p-wrap p-small p-list-small-2"
                                                                    data-pid="21">
                                                                    <div class="feat-holder">
                                                                        <div class="p-featured ratio-v1">
                                                                            <a class="p-flink"
                                                                                href="https://foxiz.themeruby.com/animals/giraffes-the-long-and-the-short-of-their-survival-as-a-species/"
                                                                                title="Giraffes the Long and the Short of Their Survival as a Species">
                                                                                <img width="330" height="220"
                                                                                    src="https://foxiz.themeruby.com/animals/wp-content/uploads/sites/7/2023/02/a5-330x220.jpg"
                                                                                    class="featured-img wp-post-image"
                                                                                    alt="" decoding="async"
                                                                                    loading="lazy"> </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="p-content">
                                                                        <h4 class="entry-title counter-el"> <a
                                                                                class="p-url"
                                                                                href="https://foxiz.themeruby.com/animals/giraffes-the-long-and-the-short-of-their-survival-as-a-species/"
                                                                                rel="bookmark">Giraffes the Long and the
                                                                                Short of Their Survival as a Species</a>
                                                                        </h4>
                                                                        <div class="p-meta">
                                                                            <div class="meta-inner is-meta">
                                                                                <span class="meta-el meta-update">
                                                                                    <i class="rbi rbi-time"
                                                                                        aria-hidden="true"></i> <time
                                                                                        class="updated"
                                                                                        datetime="2023-02-04T02:18:13+00:00">February
                                                                                        4, 2023</time>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>