{layout=layout/wrapper-home-loading}

{exp:seo_lite default_title="Submit contents"}

<section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d0cf0a9" data-element_type="section">
    <div class="elementor-container pb-0 pt-60 elementor-column-gap-no">                    
        <script id="myJotForm" src="https://form.jotform.com/jsform/231226404920042"></script>
        <div class="form-hider-element"></div>
    </div>
</section>