{_confirm_terms}
<div id="navbar-outer" class="navbar-outer">
    <div id="sticky-holder" class="sticky-holder">
        <div class="navbar-wrap">
            <div class="rb-container edge-padding-70">
                <div class="navbar-inner">
                    <div class="navbar-left">
                        {_logo}
                        {_nav}
                        {_nav_down}
                    </div>
                    {_right_side_nav}
                </div>
            </div>
        </div>
        <div id="header-mobile" class="header-mobile">
            {_mobile_header}
        </div>
    </div>
</div>