<div class="elementor-element elementor-element-b6a0802 elementor-widget elementor-widget-foxiz-social-follower"
            data-id="b6a0802" data-element_type="widget" data-widget_type="foxiz-social-follower.default">
            <div class="elementor-widget-container">
                <div class="sb-social-counter fncount-wrap is-style-12">
                    <div class="social-follower effect-fadeout">
                        <div class="follower-el bg-facebook"> <a target="_blank"
                                href="https://facebook.com/envato" class="facebook" aria-label="Facebook"
                                rel="noopener nofollow"></a> <span class="follower-inner h6"> <span
                                    class="fnicon"><i class="rbi rbi-facebook" aria-hidden="true"></i></span>
                                <span class="fntotal">248.1k</span> <span class="fnlabel">Followers</span> <span
                                    class="text-count">Like</span> </span></div>
                        <div class="follower-el bg-twitter"> <a target="_blank"
                                href="https://twitter.com/envato" class="twitter" aria-label="Twitter"
                                rel="noopener nofollow"></a> <span class="follower-inner h6"> <span
                                    class="fnicon"><i class="rbi rbi-twitter" aria-hidden="true"></i></span>
                                <span class="fntotal">69.1k</span> <span class="fnlabel">Followers</span> <span
                                    class="text-count">Follow</span> </span></div>

                        <div class="follower-el bg-tiktok"> <a target="_blank"
                                href="https://tiktok.com/Envato" class="tiktok" aria-label="Pinterest"
                                rel="noopener nofollow"></a> <span class="follower-inner h6"> <span
                                    class="fnicon"><i class="rbi rbi-tiktok" aria-hidden="true"></i></span>
                                <span class="fntotal">134k</span> <span class="fnlabel">Followers</span> <span
                                    class="text-count">Follow</span> </span></div>
                        <div class="follower-el bg-instagram"> <a target="_blank"
                                href="https://instagram.com/envato" class="instagram" aria-label="Instagram"
                                rel="noopener nofollow"></a> <span class="follower-inner h6"> <span
                                    class="fnicon"><i class="rbi rbi-instagram" aria-hidden="true"></i></span>
                                <span class="fntotal">54.3k</span> <span class="fnlabel">Followers</span> <span
                                    class="text-count">Follow</span> </span></div>
                        <div class="follower-el bg-youtube"> <a target="_blank"
                                href="https://www.youtube.com/c/envato" class="youtube" aria-label="Youtube"
                                rel="noopener nofollow"></a> <span class="follower-inner h6"> <span
                                    class="fnicon"><i class="rbi rbi-youtube" aria-hidden="true"></i></span>
                                <span class="fntotal">137.8k</span> <span class="fnlabel">Subscribers</span>
                                <span class="text-count">Subscribe</span> </span></div>
                                </div>
                            </div>
                        </div>
                    </div>