<!DOCTYPE html>
<html lang="en-US">

<head>
    {_head}
</head>

<body
    class="home page-template-default page page-id-1465 wp-embed-responsive elementor-default elementor-kit-3 elementor-page elementor-page-1465 menu-ani-1 hover-ani-1 is-rm-1 is-hd-1 is-backtop none-m-backtop is-mstick sync-bookmarks"
    data-theme="default">

    <div class="site-outer">
        <header id="site-header" class="header-wrap rb-section header-template">
            <div class="reading-indicator"><span id="reading-progress"></span></div>
            {embed=layout/_header}
        </header>
        <div class="site-wrap">
            <div data-elementor-type="wp-page" data-elementor-id="2820" class="elementor elementor-2820">
                <div id="single-post-infinite" class="single-post-infinite none-mobile-sb">
                        {layout:contents}
                    <div id="single-infinite-point" class="single-infinite-point pagination-wrap">
                        <i class="rb-loader" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-wrap rb-section footer-etemplate">
            {_footer}
        </footer>
    </div>
    
    <script id='foxiz-core-js-extra'>
        var foxizCoreParams = {
            "ajaxurl": "https:\/\/foxiz.themeruby.com\/default\/wp-admin\/admin-ajax.php",
            "darkModeID": "D_foxiz.themeruby.com_default"
        };
    </script>

    
        <script id='elementor-frontend-js-before'>
        var elementorFrontendConfig = {
            "environmentMode": {
                "edit": false,
                "wpPreview": false,
                "isScriptDebug": false
            },
            "i18n": {
                "shareOnFacebook": "Share on Facebook",
                "shareOnTwitter": "Share on Twitter",
                "pinIt": "Pin it",
                "download": "Download",
                "downloadImage": "Download image",
                "fullscreen": "Fullscreen",
                "zoom": "Zoom",
                "share": "Share",
                "playVideo": "Play Video",
                "previous": "Previous",
                "next": "Next",
                "close": "Close"
            },
            "is_rtl": false,
            "breakpoints": {
                "xs": 0,
                "sm": 480,
                "md": 768,
                "lg": 1025,
                "xl": 1440,
                "xxl": 1600
            },
            "responsive": {
                "breakpoints": {
                    "mobile": {
                        "label": "Mobile",
                        "value": 767,
                        "default_value": 767,
                        "direction": "max",
                        "is_enabled": true
                    },
                    "mobile_extra": {
                        "label": "Mobile Extra",
                        "value": 880,
                        "default_value": 880,
                        "direction": "max",
                        "is_enabled": false
                    },
                    "tablet": {
                        "label": "Tablet",
                        "value": 1024,
                        "default_value": 1024,
                        "direction": "max",
                        "is_enabled": true
                    },
                    "tablet_extra": {
                        "label": "Tablet Extra",
                        "value": 1200,
                        "default_value": 1200,
                        "direction": "max",
                        "is_enabled": false
                    },
                    "laptop": {
                        "label": "Laptop",
                        "value": 1366,
                        "default_value": 1366,
                        "direction": "max",
                        "is_enabled": false
                    },
                    "widescreen": {
                        "label": "Widescreen",
                        "value": 2400,
                        "default_value": 2400,
                        "direction": "min",
                        "is_enabled": false
                    }
                }
            },
            "version": "3.5.6",
            "is_static": false,
            "experimentalFeatures": {
                "e_dom_optimization": true,
                "e_optimized_assets_loading": true,
                "e_optimized_css_loading": true,
                "e_font_icon_svg": true,
                "a11y_improvements": true,
                "additional_custom_breakpoints": true,
                "e_hidden_wordpress_widgets": true,
                "admin-top-bar": true
            },
            "urls": {
                "assets": "https:\/\/foxiz.themeruby.com\/default\/wp-content\/plugins\/elementor\/assets\/"
            },
            "settings": {
                "page": [],
                "editorPreferences": []
            },
            "kit": {
                "active_breakpoints": ["viewport_mobile", "viewport_tablet"],
                "global_image_lightbox": "yes",
                "lightbox_enable_counter": "yes",
                "lightbox_enable_fullscreen": "yes",
                "lightbox_enable_zoom": "yes",
                "lightbox_enable_share": "yes",
                "lightbox_title_src": "title",
                "lightbox_description_src": "description"
            },
            "post": {
                "id": 1387,
                "title": "Foxiz%20%E2%80%93%20WordPress%20Newspaper%20and%20Magazine",
                "excerpt": "",
                "featuredImage": false
            }
        };
        </script>
        <script defer src="{site_url}assets/js/script.js"></script>
        <script defer src="{site_url}assets/js/script-inf.js"></script>
        <script src="{site_url}assets/js/query-inf.js"></script>
        <script src="{site_url}assets/js/infinitescroll.js"></script>
        
        
</body>

</html>
