<div data-elementor-type="wp-post" data-elementor-id="2828" class="elementor elementor-2828">
    <section
        class="elementor-section elementor-top-section elementor-element elementor-element-1f73d1f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="1f73d1f" data-element_type="section"
        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div class="elementor-container elementor-column-gap-custom">
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4248c80"
                data-id="4248c80" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-664a20d elementor-widget elementor-widget-image"
                        data-id="664a20d" data-element_type="widget" data-widget_type="image.default">
                        <div class="elementor-widget-container">
                             <img width="164" height="100" src="{site_url}assets/images/logo/logo-white.svg" class="attachment-full size-full wp-image-2997" alt="" loading="lazy" />
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-75ef736 elementor-widget__width-auto elementor-widget elementor-widget-text-editor"
                        data-id="75ef736" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p>Follow US: </p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-1c0f03d elementor-widget__width-auto elementor-widget elementor-widget-foxiz-social-list"
                        data-id="1c0f03d" data-element_type="widget"
                        data-widget_type="foxiz-social-list.default">
                        <div class="elementor-widget-container">
                            <div class="header-social-list wnav-holder">

                                <a class="social-link-instagram"
                                    aria-label="Instagram" data-title="Instagram" href="{_instagram}"
                                    target="_blank" rel="noopener nofollow"><i
                                        class="rbi rbi-instagram"></i></a>

                                <a class="social-link-facebook"
                                    aria-label="Facebook" data-title="Facebook" href="{_facebook}"
                                    target="_blank" rel="noopener nofollow"><i
                                        class="rbi rbi-facebook"></i></a>
                                
                                <a class="social-link-twitter"
                                    aria-label="Twitter" data-title="Twitter" href="{_twitter}"
                                    target="_blank" rel="noopener nofollow"><i
                                        class="rbi rbi-twitter"></i></a>
                                        
                                <a class="social-link-youtube"
                                    aria-label="YouTube" data-title="YouTube" href="{_youtube}"
                                    target="_blank" rel="noopener nofollow"><i
                                        class="rbi rbi-youtube"></i></a>

                                <a class="social-link-tiktok"
                                    aria-label="TikTok" data-title="TikTok" href="{_tiktok}"
                                    target="_blank" rel="noopener nofollow"><i
                                        class="rbi rbi-tiktok"></i></a>
                                        
                                <a class="social-link-rss"
                                    aria-label="Rss" data-title="Rss" href="#" target="_blank"
                                    rel="noopener nofollow"><i class="rbi rbi-rss"></i></a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0ad7d56"
                data-id="0ad7d56" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-5197768 elementor-widget elementor-widget-foxiz-heading"
                        data-id="5197768" data-element_type="widget"
                        data-widget_type="foxiz-heading.default">
                        <div class="elementor-widget-container">
                            <div id="uid_5197768" class="block-h heading-layout-7 light-scheme">
                                <div class="heading-inner">
                                    <h4 class="heading-title"><span>Quick Access</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-7352960 elementor-widget elementor-widget-foxiz-sidebar-menu"
                        data-id="7352960" data-element_type="widget"
                        data-widget_type="foxiz-sidebar-menu.default">
                        <div class="elementor-widget-container">
                            <ul id="menu-footer-1" class="sidebar-menu">
                                <li id="menu-item-2903"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2903">
                                    <a href="{path=posts/category/explore}"><span>Explore</span></a></li>
                                <li id="menu-item-2904"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2904">
                                    <a href="{path=posts/tending}"><span>Trending</span></a></li>
                                <li id="menu-item-2905"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2905">
                                    <a href="{path=contact-us}"><span>Contact Us</span></a></li>
                                <li id="menu-item-2906"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2906">
                                    <a href="javascript:void(0);"><span>Privacy Policy</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-bee27d7"
                data-id="bee27d7" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-92c2f0b elementor-widget elementor-widget-foxiz-heading"
                        data-id="92c2f0b" data-element_type="widget"
                        data-widget_type="foxiz-heading.default">
                        <div class="elementor-widget-container">
                            <div id="uid_92c2f0b" class="block-h heading-layout-7 light-scheme">
                                <div class="heading-inner">
                                    <h4 class="heading-title"><span>Discover</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-33160ec elementor-widget elementor-widget-foxiz-sidebar-menu"
                        data-id="33160ec" data-element_type="widget"
                        data-widget_type="foxiz-sidebar-menu.default">
                        <div class="elementor-widget-container">
                            <ul id="menu-footer-2" class="sidebar-menu">
                                <li id="menu-item-2907"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2907">
                                    <a href="{site_url}"><span>Home</span></a></li>
                                <li id="menu-item-2916"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2916">
                                    <a href="{path=posts/explore}"><span>Top stories</span></a></li>
                                <li id="menu-item-2917"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2917">
                                    <a href="{path=posts/category/sponsored}"><span>Special for you</span></a></li>
                                <li id="menu-item-2918"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2918">
                                    <a href="{path=posts/category/african-conservation}"><span>Protect it for the future</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-e94f1ac"
                data-id="e94f1ac" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-d867da0 elementor-position-left elementor-mobile-position-left elementor-view-default elementor-vertical-align-top elementor-widget elementor-widget-icon-box"
                        data-id="d867da0" data-element_type="widget" data-widget_type="icon-box.default">
                        <div class="elementor-widget-container">
                            <div class="elementor-icon-box-wrapper">
                                <div class="elementor-icon-box-icon">
                                    <span class="elementor-icon elementor-animation-">
                                        <svg aria-hidden="true" class="e-font-icon-svg e-fas-cookie-bite"
                                            viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M510.52 255.82c-69.97-.85-126.47-57.69-126.47-127.86-70.17 0-127-56.49-127.86-126.45-27.26-4.14-55.13.3-79.72 12.82l-69.13 35.22a132.221 132.221 0 0 0-57.79 57.81l-35.1 68.88a132.645 132.645 0 0 0-12.82 80.95l12.08 76.27a132.521 132.521 0 0 0 37.16 72.96l54.77 54.76a132.036 132.036 0 0 0 72.71 37.06l76.71 12.15c27.51 4.36 55.7-.11 80.53-12.76l69.13-35.21a132.273 132.273 0 0 0 57.79-57.81l35.1-68.88c12.56-24.64 17.01-52.58 12.91-79.91zM176 368c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm32-160c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm160 128c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32z">
                                            </path>
                                        </svg> </span>
                                </div>
                                <div class="elementor-icon-box-content">
                                    <h4 class="elementor-icon-box-title">
                                        <span>
                                            Cookies Notice </span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-42a9c5d elementor-widget elementor-widget-text-editor"
                        data-id="42a9c5d" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            We use our own and third-party cookies to improve our services, personalise your
                            advertising and remember your preferences. </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
