
<script id='foxiz-core-js-extra'>
    var foxizCoreParams = {
        "ajaxurl": "https:\/\/foxiz.themeruby.com\/tech\/wp-admin\/admin-ajax.php",
        "darkModeID": "D_foxiz.themeruby.com_tech",
        "cookieDomain": "",
        "cookiePath": "\/",
        "mSiteID": "tech"
    };
</script>
<script id='contact-form-7-js-extra'>
    var wpcf7 = {
        "api": {
            "root": "https:\/\/foxiz.themeruby.com\/tech\/wp-json\/",
            "namespace": "contact-form-7\/v1"
        },
        "cached": "1"
    };
</script>
<script id='foxiz-global-js-extra'>
    var foxizParams = {
        "twitterName": "",
        "sliderSpeed": "5000",
        "sliderEffect": "slide",
        "sliderFMode": "1"
    };
    var uid_4204b44 = {
        "uuid": "uid_4204b44",
        "category": "1",
        "name": "list_small_2",
        "order": "date_post",
        "posts_per_page": "3",
        "offset": "1",
        "pagination": "next_prev",
        "crop_size": "foxiz_crop_g1",
        "title_tag": "h3",
        "entry_meta": ["avatar", "author", "read"],
        "review": "replace",
        "review_meta": "-1",
        "sponsor_meta": "1",
        "middle_mode": "1",
        "paged": "1",
        "page_max": "4"
    };
    var uid_feaa4d2 = {
        "uuid": "uid_feaa4d2",
        "category": "2",
        "name": "list_small_2",
        "tag_not_in": "hot",
        "order": "date_post",
        "posts_per_page": "3",
        "offset": "1",
        "pagination": "next_prev",
        "crop_size": "foxiz_crop_g1",
        "title_tag": "h3",
        "entry_meta": ["avatar", "author", "read"],
        "review": "replace",
        "review_meta": "-1",
        "sponsor_meta": "1",
        "middle_mode": "1",
        "paged": "1",
        "page_max": "2"
    };
    var uid_9262f1d = {
        "uuid": "uid_9262f1d",
        "name": "list_box_1",
        "order": "date_post",
        "posts_per_page": "7",
        "pagination": "load_more",
        "crop_size": "foxiz_crop_g2",
        "entry_category": "bg-2",
        "entry_meta": ["avatar", "author", "read"],
        "review": "replace",
        "review_meta": "1",
        "sponsor_meta": "1",
        "bookmark": "1",
        "entry_format": "bottom",
        "excerpt": "1",
        "excerpt_length": "20",
        "box_style": "bg",
        "paged": "1",
        "page_max": "6"
    };
</script>
<script id='elementor-frontend-js-before'>
    var elementorFrontendConfig = {
        "environmentMode": {
            "edit": false,
            "wpPreview": false,
            "isScriptDebug": false
        },
        "i18n": {
            "shareOnFacebook": "Share on Facebook",
            "shareOnTwitter": "Share on Twitter",
            "pinIt": "Pin it",
            "download": "Download",
            "downloadImage": "Download image",
            "fullscreen": "Fullscreen",
            "zoom": "Zoom",
            "share": "Share",
            "playVideo": "Play Video",
            "previous": "Previous",
            "next": "Next",
            "close": "Close"
        },
        "is_rtl": false,
        "breakpoints": {
            "xs": 0,
            "sm": 480,
            "md": 768,
            "lg": 1025,
            "xl": 1440,
            "xxl": 1600
        },
        "responsive": {
            "breakpoints": {
                "mobile": {
                    "label": "Mobile Portrait",
                    "value": 767,
                    "default_value": 767,
                    "direction": "max",
                    "is_enabled": true
                },
                "mobile_extra": {
                    "label": "Mobile Landscape",
                    "value": 880,
                    "default_value": 880,
                    "direction": "max",
                    "is_enabled": false
                },
                "tablet": {
                    "label": "Tablet Portrait",
                    "value": 1024,
                    "default_value": 1024,
                    "direction": "max",
                    "is_enabled": true
                },
                "tablet_extra": {
                    "label": "Tablet Landscape",
                    "value": 1200,
                    "default_value": 1200,
                    "direction": "max",
                    "is_enabled": false
                },
                "laptop": {
                    "label": "Laptop",
                    "value": 1366,
                    "default_value": 1366,
                    "direction": "max",
                    "is_enabled": false
                },
                "widescreen": {
                    "label": "Widescreen",
                    "value": 2400,
                    "default_value": 2400,
                    "direction": "min",
                    "is_enabled": false
                }
            }
        },
        "version": "3.12.1",
        "is_static": false,
        "experimentalFeatures": {
            "e_dom_optimization": true,
            "e_optimized_assets_loading": true,
            "e_optimized_css_loading": true,
            "a11y_improvements": true,
            "additional_custom_breakpoints": true,
            "landing-pages": true
        },
        "urls": {
            "assets": "https:\/\/foxiz.themeruby.com\/tech\/wp-content\/plugins\/elementor\/assets\/"
        },
        "swiperClass": "swiper-container",
        "settings": {
            "page": [],
            "editorPreferences": []
        },
        "kit": {
            "active_breakpoints": ["viewport_mobile", "viewport_tablet"],
            "global_image_lightbox": "yes",
            "lightbox_enable_counter": "yes",
            "lightbox_enable_fullscreen": "yes",
            "lightbox_enable_zoom": "yes",
            "lightbox_enable_share": "yes",
            "lightbox_title_src": "title",
            "lightbox_description_src": "description"
        },
        "post": {
            "id": 1822,
            "title": "Home%204%20%E2%80%93%20Technology",
            "excerpt": "",
            "featuredImage": false
        }
    };
</script>

<script src="{site_url}assets/js/script.js"></script>

    <script id='foxiz-global-js-extra'>
    var foxizParams = {
        "twitterName": "joysafaribay",
        "highlightShares": "1",
        "highlightShareFacebook": "1",
        "highlightShareTwitter": "1",
        "highlightShareReddit": "1",
        "sliderSpeed": "5000",
        "sliderEffect": "slide",
        "sliderFMode": "1"
    };
</script>

<script defer src="{site_url}assets/js/query-page.js"></script>

{if segment_2 =="post"}
<script id="dsq-count-scr" src="//joy-safari-bay-1.disqus.com/count.js" async></script>
{/if}