<div class="more-section-outer menu-has-child-flex menu-has-child-mega-columns layout-col-3">
    <a class="more-trigger icon-holder" href="#" data-title="More" aria-label="more">
        <span class="dots-icon"><span></span><span></span><span></span></span> </a>
    <div id="rb-more" class="more-section flex-dropdown">
        <div class="more-section-inner">
            
            <div class="more-content">

                <div class="header-search-form is-form-layout live-search-form">
                    <span class="h5">Search</span>
                    <div class="live-search-form-outer">

                        {exp:search:simple_form
                            channel="posts"
                            search_in="everywhere"
                            result_page="search/results"
                            no_result_page="search/results"
                        }
                        <div class="rb-search-form">
                            <div class="search-form-inner"> <span class="search-icon">
                                <span class="search-icon-svg"></span></span>
                                <span class="search-text"><input type="text" class="field" placeholder="Search Headlines, News..." value="" name="keywords" /></span>
                                <span class="rb-search-submit">
                                    <input type="submit" value="Search"/>
                                    <i class="rbi rbi-cright" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        {/exp:search:simple_form}
                        
                        <span class="live-search-animation rb-loader"></span>
                        <div class="live-search-absolute live-search-response"></div>

                    </div>
                </div>


                <div class="mega-columns">
                    <div class="more-col">
                        <div id="nav_menu-4"
                            class="rb-section clearfix widget_nav_menu">
                            <div class="block-h widget-heading heading-layout-10">
                                <div class="heading-inner">
                                    <h5 class="heading-title">
                                        <span>Affiliate</span></h5>
                                </div>
                            </div>
                            <!-- <div class="menu-more-1-container">
                                <ul id="menu-more-1" class="menu">
                                    <li id="menu-item-1739"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1739">
                                        <a href="#"><span>Innovate</span></a></li>
                                    <li id="menu-item-1740"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1740">
                                        <a href="#"><span>Gadget</span></a></li>
                                    <li id="menu-item-1741"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1741">
                                        <a href="#"><span>PC hardware</span></a>
                                    </li>
                                    <li id="menu-item-1742"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1742">
                                        <a href="#"><span>Review</span></a></li>
                                    <li id="menu-item-1743"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1743">
                                        <a href="#"><span>Software</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                    <div class="more-col">
                        <div id="nav_menu-5"
                            class="rb-section clearfix widget_nav_menu">
                            <div class="block-h widget-heading heading-layout-10">
                                <div class="heading-inner">
                                    <h5 class="heading-title"><span>Collaboration</span>
                                    </h5>
                                </div>
                            </div>
                            <!-- <div class="menu-more-2-container">
                                <ul id="menu-more-2" class="menu">
                                    <li id="menu-item-1744"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1744">
                                        <a href="#"><span>Medicine</span></a></li>
                                    <li id="menu-item-1745"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1745">
                                        <a href="#"><span>Children</span></a></li>
                                    <li id="menu-item-1746"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1746">
                                        <a href="#"><span>Coronavirus</span></a>
                                    </li>
                                    <li id="menu-item-1747"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1747">
                                        <a href="#"><span>Nutrition</span></a></li>
                                    <li id="menu-item-1748"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1748">
                                        <a href="#"><span>Disease</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                    <div class="more-col">
                        <div id="nav_menu-6"
                            class="rb-section clearfix widget_nav_menu">
                            <div class="block-h widget-heading heading-layout-10">
                                <div class="heading-inner">
                                    <h5 class="heading-title">
                                        <span>Recruitment</span></h5>
                                </div>
                            </div>
                            <!-- <div class="menu-more-3-container">
                                <ul id="menu-more-3" class="menu">
                                    <li id="menu-item-1749"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1749">
                                        <a href="#"><span>Stars</span></a></li>
                                    <li id="menu-item-1750"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1750">
                                        <a href="#"><span>Screen</span></a></li>
                                    <li id="menu-item-1751"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1751">
                                        <a href="#"><span>Culture</span></a></li>
                                    <li id="menu-item-1752"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1752">
                                        <a href="#"><span>Media</span></a></li>
                                    <li id="menu-item-1753"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1753">
                                        <a href="#"><span>Videos</span></a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>

            
            <div class="collapse-footer">
                <div class="collapse-footer-menu">
                    <ul id="menu-footer-copyright"
                        class="collapse-footer-menu-inner">
                        <li id="menu-item-1643"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1643">
                            <a href="{path=contact-us}"><span>Contact</span></a></li>
                        <li id="menu-item-1644"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1644">
                            <a href="{path=posts}"><span>Blog</span></a></li>
                        <li id="menu-item-1645"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1645">
                            <a href="{path=contact-us}"><span>Complaint</span></a></li>
                        <li id="menu-item-1646"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1646">
                            <a href="{path=contact-us}"><span>Advertise</span></a></li>
                    </ul>
                </div>
                <div class="collapse-copyright">© 2023 Joy Safari Bay. Designed by <a href="https://devplate.com">Devplate</a> . All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>