<section class="elementor-section elementor-top-section elementor-element elementor-element-19778f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="19778f7" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-custom">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-80c78c3"
                            data-id="80c78c3" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-67930fa elementor-widget elementor-widget-foxiz-newsletter-2"
                                    data-id="67930fa" data-element_type="widget"
                                    data-widget_type="foxiz-newsletter-2.default">
                                    <div class="elementor-widget-container">
                                        <div
                                            class="newsletter-box newsletter-style is-box-none newsletter-box-2 is-full-btn">
                                            <div class="newsletter-inner">
                                                <div class="newsletter-content">
                                                    <h2 class="newsletter-title">Receive latest news from all areas of
                                                        Wildlife Animals </h2>
                                                    <p class="newsletter-description">Our selection of the week's
                                                        biggest research news and features sent directly to your inbox.
                                                        Enter your email address, confirm you're happy to receive our
                                                        emails.</p>
                                                </div>
                                                <div class="newsletter-form">

                                                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-112"
                                                        method="post" data-id="112" data-name="form">
                                                        <div class="mc4wp-form-fields">
                                                            <div>
                                                                <input type="email" name="EMAIL"
                                                                    placeholder="Your email address" required />
                                                                <input type="submit" value="Subscribe" />
                                                            </div>
                                                            <div class="agree-to-terms">
                                                                <input name="AGREE_TO_TERMS" aria-label="checkbox"
                                                                    type="checkbox" value="1" required=""><label
                                                                    for="AGREE_TO_TERMS">I have read and agree to the
                                                                    terms &amp; conditions</label>
                                                            </div>
                                                        </div><label style="display: none !important;">Leave this field
                                                            empty if you're human: <input type="text"
                                                                name="_mc4wp_honeypot" value="" tabindex="-1"
                                                                autocomplete="off" /></label><input type="hidden"
                                                            name="_mc4wp_timestamp" value="1676262479" /><input
                                                            type="hidden" name="_mc4wp_form_id" value="112" /><input
                                                            type="hidden" name="_mc4wp_form_element_id"
                                                            value="mc4wp-form-1" />
                                                        <div class="mc4wp-response"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>